<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Título %><br />
    <%= f.text_field :name %>
  </div>
  <br><br>
  <div class="field">
    <%= f.label :Texto %><br />
    <%= f.text_area :text, :class => 'ckeditor' %>
  </div>
  <br><br>
  <div class="field">
    <%= f.label :Categoria %><br />
    <%= f.collection_select :category_id, @categories, :id, :name %>
  </div>
  <br /><br />
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
