<!DOCTYPE html>
<html>
<head>
  <title>Guiaseo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Guiaseo</a>
        <ul class="nav">
          
          <% @categories.each do |c| %>
            <li><%= link_to(c.name,{:controller => "contents",:action => "index", :category_id => c.id}) %></li>
          <% end %>

        </ul>
      </div>
    </div>

    <!-- mensagem -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

  </header>

<div class="box">

<%= yield %>

</div>
  
  <footer>
  <hr>
    <div class="box">
      <% if signed_in? %>
        <h4><%= link_to 'Admin', admin_path %></h4>
      <% end %>
    </div>
  </footer>

</body>
</html>
