<!DOCTYPE html>
<html>
<head>
  <title>Guiaseo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to 'Home', contents_path %>
    <% @categories.each do |c| %>
      <%= link_to(c.name,{:controller => "contents",:action => "index", :category_id => c.id}) %>
    <% end %>
  </header>

<%= yield %>
  
  <footer>
    <%= link_to 'Categorias Admin', categories_path %>
    <%= link_to 'Novo Conteúdo', new_content_path %>
  </footer>

</body>
</html>
